.profile-info {

  &__dropdown--trigger {
    display: flex;
    align-items: center;
    transition: .3s ease-in-out;
    cursor: pointer;

    &:hover {

      .profile-info__username {
        color: white;
      }
    }
  }

  &__username {
    font-size: .875rem;
    color: rgba($lavender, .7);
  }

  &__avatar {
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    border-radius: 50%;
    margin-left: .75rem;
    border: 1px solid $lavender;
  }

  &__dropdown {
    list-style: none;
    display: flex;
    flex-direction: column;
    display: none;
  }
}
