.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8%;

  @media screen and (max-width: 1085px) {
    padding: 2rem 5%;
  }

  @media screen and (max-width: 985px) {
    display: none;
  }

  &__left-content,
  &__right-content {
    display: flex;
    align-items: center;
  }

  &__amount {
    font-size: 1.1rem;
    font-weight: 400;
    color: $midgray;
    margin-right: 2rem;
    letter-spacing: .2px;
  }

  &__dropdown {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 13rem;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .1);
    z-index: 10;
    opacity: 0;
    transform: translate(-.75rem, .5rem);
    transition: .2s ease;
    transform-origin: top right;
    z-index: -1;

    &-item {
      background-color: white;
      padding: .75rem 1rem;
      font-size: .875rem;
      color: $lightgray;
      transition: .3s;
      cursor: pointer;

      &:hover {
        background-color: $purple;
        color: white;
      }

      &:before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: -16px;
        right: 1px;
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        border-bottom: 1rem solid white;
        z-index: 3;
      }
    }

    &.open {
      opacity: 1;
      transform: translate(-.75rem, 1.7rem);
      z-index: 5;
    }
  }

  &__dropdown-main {
    background-color: white;
    padding: .5rem .75rem;
    width: 13rem;
    margin-right: 2.5rem;
    font-size: .875rem;
    color: $lightgray;
    letter-spacing: .2px;
    position: relative;
    cursor: pointer;

    svg {
      width: .5rem;
      height: .5rem;
      position: absolute;
      right: .75rem;
      top: .9rem;
      transform: rotate(180deg);

      path {
        fill: $lightgray;
      }
    }
  }

  &__search {
    display: flex;
    align-items: center;

    input {
      border: none;
      width: 20rem;
      background: transparent;
      font-size: .875rem;
      padding: .5rem;
      font-family: 'Roboto';
      color: $lightgray;

      &:focus {
        outline: none;
        background-color: white;
      }
    }

    svg {
      width: 1.2rem;
      margin-right: .75rem;

      stroke {
        fill: $midgray;
      }
    }
  }

  &__filter {
    background-color: white;
    padding: .5rem .75rem;
    width: 10rem;
    font-size: .875rem;
    color: $lightgray;
    letter-spacing: .2px;
    position: relative;
    cursor: pointer;

    &--selected {
      color: $blue;
    }

    svg {
      width: .5rem;
      height: .5rem;
      position: absolute;
      right: .75rem;
      top: .9rem;
      transform: rotate(180deg);

      path {
        fill: $lightgray;
      }
    }
  }

  &__filter-dropdown {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 10rem;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .1);
    z-index: 10;
    opacity: 0;
    transform: translate(-.75rem, 1.2rem);
    transition: .3s ease;
    transform-origin: top right;
    z-index: -1;

    &-item {
      background-color: white;
      padding: .75rem 1rem;
      font-size: .875rem;
      color: $lightgray;
      transition: .3s;
      cursor: pointer;

      &:hover {
        background-color: $purple;
        color: white;
      }

      &:before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: -16px;
        right: 1px;
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        border-bottom: 1rem solid white;
        transition: .3s;
      }
    }

    &.open {
      opacity: 1;
      z-index: 1;
      transform: translate(-.75rem, 1.4rem);
    }
  }

  &__toggle-btn {
    width: 2.2rem;
    height: 2.2rem;
    background-color: white;
    margin-left: .5rem;
  }
}
