$offwhite: #F4F8F9;
$red--light: #FEECEA;
$red: #E72F08;
$blue--light: #E5F8FA;
$blue: #03B7E1;
$gray: #5E6B75;
$purple: #6C5BBB;
$lavender: #E4E1F3;
$aqua: #ECF3F5;
$haze: #C2CBCF;
$midgray: #3D4A53;
$lightgray: #86929D;
